* {
  margin: 0%;
  padding: 0%;
}

/** HEADER **/
.header__main {
  display: grid;
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 20px;
  grid-template-areas: "header__logo header__navigation";
  background: #64E291;
  text-shadow: 2px 2px 5px black;
}

.header__logo {
  grid-area: header__logo;
}
.header__logo img {
  width: 140px;
}

.header__navigation {
  list-style: none;
  display: flex;
  justify-content: right;
  grid-area: header__navigation;
  transform: translate(5px, 15px);
  text-shadow: 2px 2px 5px black;
}
.header__navigation li {
  margin: 3px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}
.header__navigation li a {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.header__navigation li:hover > ul {
  display: block;
}
.header__navigation a:hover {
  opacity: 1;
  color: #B2EA70;
  font-weight: bold;
}

.header__submenu {
  list-style: none;
  background-color: #64E291;
  font-family: "Quicksand", sans-serif;
  display: none;
  position: absolute;
  padding: 5px;
  margin-top: 13px;
}

/** MAIN CONTENT **/
.carrousel img {
  height: 650px;
  width: 100%;
}

.logoImages {
  width: 100px;
  height: 100px;
}

.products__cards {
  width: 320px;
  height: 250px;
  margin: 15px;
  background-color: #297F87;
  display: flex;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: "Mochiy Pop P One", sans-serif;
}
.products__cards img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}
.products__cards h1 {
  font-size: 20px;
}

.products__cards:hover {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.products__cards:hover img {
  opacity: 0.2;
}

/** CATEGORIAS **/
.breadcrumb {
  background-color: transparent;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 15px;
}

.breadcrumb-item {
  color: #64E291;
}

.categorias__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 20rem));
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  justify-content: center;
}

.card {
  width: 250px;
  height: auto;
  margin-left: 5px;
  border-style: none;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 2px 10px gray;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}

.card-title {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 7px;
}

.card-text {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 16px;
}
.card-text del {
  font-weight: normal;
  color: #a7a7a7;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

/** BOTONES **/
.btn-primary {
  background-color: #297F87;
  border-color: #297F87;
  width: 100%;
  font-family: "Mochiy Pop P One", sans-serif;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #00A19D;
  border-color: #00A19D;
}

/** FOOTER **/
.footer__main {
  text-align: center;
  background-color: #B2EA70;
  padding-top: 20px;
  height: 50px;
  width: 100%;
  color: black;
  font-size: 20px;
}

.footer__redesSociales {
  color: black;
  padding-right: 150px;
}

.bg-white {
  background-color: #64E291 !important;
}

.footer__text {
  font-family: "Quicksand", sans-serif;
  color: white;
}

.text__h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

h3 {
  text-transform: uppercase;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #64E291;
  display: flex;
  justify-content: center;
}

/** SUCURSALES **/
.map {
  grid-area: mapa;
}

.sucursales {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  grid-area: sucursales;
}
.sucursales div {
  padding-left: 20px;
}

/** CONTACTO **/
.contact-wrapper > * {
  padding: 1em;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1/4;
}
.contact-form form label {
  display: block;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 16px;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form button, .contact-form form input, .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #297F87;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #00A19D;
}
.contact-form form button {
  background: #297F87;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: white;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #00A19D;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/*# sourceMappingURL=estilos.css.map */
